{% extends "base.html" %}

{% block body %}

    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5">
      <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-indicators">
              <button type="button" data-bs-target="#header-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            </div>
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <img class="w-100" src="static/img/bg.webp" alt="Image">
                  <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                      <div class="p-3" style="max-width: 900px;">
                          <h3 class="text-white text-uppercase animated bounceInDown">Optimized Data Division for cloud security</h3>
                          <h1 class="display-1 text-white mb-md-4 animated zoomIn">Optisec</h1>
                          <a href="register" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Registration</a>
                          <a href="log_in" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Login</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Carousel End -->


{% endblock body %}




