{% extends "base.html" %}

{% block body %}
<div class="container">
    <div class="container">
        <button class="btn btn-primary mt-5" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i
                class="bi bi-list"></i></button>
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
            id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">

        </div>

        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
            aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
                <h1 class="display-5 m-0 text-primary">Opti<span class="text-secondary">sec</span></h1>
                <hr>
                <!-- <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdroped with scrolling</h5> -->
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="list-group">
                    <li class="list-group-item"><a href="{% url "dashboard" %}" class="nav-item nav-link">Dashboard</a></li>
                    <li class="list-group-item"><a href="{% url "upload_image" %}" class="nav-item nav-link">Upload Image</a></li>
                    <li class="list-group-item"><a href="{% url "upload_doc" %}" class="nav-item nav-link">Upload Document</a></li>
                    <li class="list-group-item"><a href="{% url "upload_pdf" %}" class="nav-item nav-link">Upload PDF</a></li>
                    <li class="list-group-item"><a href="{% url "upload_video" %}" class="nav-item nav-link">Upload Video</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="card col-lg-6 mx-2">
                <div class="card-body">
                    <form action="upload_image" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h5 class="card-title">Upload Image <span class="text-danger"> *</span></h5>
                        <input type="file" name="image" class="form-control" accept="image/*" required>
                        <h5 for="password" class="mt-3 text-dark">Enter Security Password</h5>
                        <input type="password" name="password" class="form-control" required>
                        <button class="btn btn-primary mt-4" type="submit">Upload Image</button>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock body %}